body {
    background-color: black;
  }
  
  .App {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .Card {
    flex: 1;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 500px;
  }
  
  .card-image {
    width: 150px;
    height: 250px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 40px;
  }
  .red .card-image {
    width: 100%;
    max-width: calc(100% - 30px); 
    border-radius: 0px;
    margin-left: 10px;
    margin-top: 40px;
  }
  .green .card-image {
    width: 257px;
    border-radius: 0px;
    margin-left: 0px;
    margin-top: 117px;
  }
  
  /* Background color classes */
  .red {
    background-color: #F25E3D;
  }
  
  
  .black {
    background-color:#0D0D0D ;
  }
  
  .green {
    background-color: #12846C;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;
  }
  .card-header h1{
    margin-top: 0px;
  }
  .black h2{
    color: white;
  }
  .black .card-header h1 {
    color: white;
  }
  .red h2{
    font-size: 60px;
  }
  
  .menu-button {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 5px;
    cursor: not-allowed;
  }
  
  .menu-button .menu-line {
    width: 20px;
    height: 2px;
    background-color: black;
    margin-top: 5px;
    padding-inline: 2px;
  }
  .black .menu-button .menu-line {
    width: 20px;
    height: 2px;
    background-color: white;
  }
  
  .menu-button:hover .menu-line {
    background-color: lightgray;
  }
  
  .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    color: transparent;
  }
  
  .checkmark::before {
    content: '☑';
    color: transparent;
    font-size: 14px;
    border-radius: 50px;
    background-color: black;
  }
  .black .checkmark::before {
    content: '☑';
    color: transparent;
    font-size: 14px;
    border-radius: 50px;
    background-color: white;
  }         