body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .App {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  .Card {
    flex: 1;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 550px;
  }
  
  
  .card-image {
    width: 150px;
    height: 250px;
    object-fit: cover;
    margin-top: 40px;
    border-radius: 60px;
  }
  
  .red .card-image {
    width: 100%;
    max-width: calc(100% - 30px);
    border-radius: 0;
    margin-left: 10px;
    margin-top: 80px;
  }
  
  .green .card-image {
    width: 100%;
    border-radius: 0;
    margin-left: 0;
    margin-top: 53px;
  }
  
  .red {
    background-color: #F25E3D;
  }
  
  .black {
    background-color: #0D0D0D;
  }
  
  .green {
    background-color: #12846C;
  }
  
  .green p {
    margin-left: 125px;
  }
  
  .black p {
    color: white;
    margin-top: 80px;
  }
  
  .red p {
    margin-top: -50px;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
  }
  
  .card-header h1 {
    margin-top: 0;
  }
  
  .black h2 {
    color: white;
  }
  
  .black .card-header h1 {
    color: white;
  }
  
  .red h2 {
    font-size: 60px;
  }
  
  .green h2 {
    margin-left: -85px;
    text-align: left;
  }
  
  .menu-button {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 5px;
    cursor: not-allowed;
  }
  
  .menu-button .menu-line {
    width: 20px;
    height: 2px;
    background-color: black;
    margin-top: 5px;
    padding-inline: 2px;
  }
  
  .black .menu-button .menu-line {
    width: 20px;
    height: 2px;
    background-color: white;
  }
  
  .menu-button:hover .menu-line {
    background-color: lightgray;
  }
  .black .menu-button:hover .menu-line {
    background-color: #F25E3D;
  }
  
  .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    color: transparent;
  }
  

  .unclickable-button {
    background-color: black;
    color: #F25E3D;
    padding: 1px 3px;
    border-radius: 5px;
    cursor: not-allowed;
    margin-bottom: -50px;
    margin-top: 40px;
    margin-left: -85px;
  }
  .unclickable-button:hover {
    background-color: white;
  }
  
  .symbol {
    font-size: 50px;
    margin-right: -40px;
  }
  
  .checkmarkIm img {
    width: 20px;
    height: 20px;
    font-size: 14px;
    border-radius: 50px;
    background-color: #353434;
    fill: rgba(247, 247, 247, 0.945);
  }
  
  .black .checkmarkIm img {
    background-color: white;
    fill: rgba(255, 255, 255, 0.5); 
  }
  @media (max-width: 600px) {
    .App {
      flex-direction: column;
      
    }
    .Card{
      flex: 100%;
      width: 100%;
      margin: 15px;
    }
  }
  @media (max-width: 768px) {
    .green .card-image {
      width: 100%;
      border-radius: 0;
      margin-left: 0;
      margin-top: 36px;
    }
  }
  @media (max-width: 824px) {
    .green .card-image {
      width: 100%;
      border-radius: 0;
      margin-left: 0;
      margin-top: 36px;
    }
  }

  